<section class="dt-section" data-aos="fade-up">
    <div class="why-choose-us-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 col-12">
                    <div class="content">
                        <div class="home-1-title">
                            <span>{{ content.field_tagline.0  }}</span>
                            <h2>{{ content.field_title.0 }}</h2>
                        </div>
                        {{ content.field_description.0 }}
                        {{ content.field_progress_bar }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="image-wrapper">
                        <div class="image" data-aos="fade-up-right">
                            <img class="img-fluid" src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                                alt="{{ content.field_image['#items'].alt }}" 
                                title="{{ content.field_image['#items'].title }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>