{% set paragraph_parent = paragraph.getParentEntity() %}
{% set variant = paragraph_parent.field_styles.value %}
{% if variant in 'style1' %}
    {% if content.field_item_inverse.0['#markup'] in '1' %}
        <div class="col-lg-4 col-md-10 col-12">
            <div class="row">
                <div class="col-12 contact-add">
                    <div class="details">
                        {{ content.field_icon.0 }}
                        <h4>{{ content.field_title.0 }}</h4>
                        {{ content.field_map.0 }}
                    </div>
                </div>
                <div class="col-12 contact-add">
                    <div class="image">
                        <img class="img-fluid" src="{{ file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg-4 col-md-10 col-12">
            <div class="row">
                <div class="col-12 contact-add" data-aos="zoom-in-down">
                    <div class="image">
                        <img class="img-fluid" src="{{ file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{ content.field_image['#items'].alt }}" title="{{ content.field_image['#items'].title }}">
                    </div>
                </div>
                <div class="col-12 contact-add" data-aos="zoom-in-up">
                    <div class="details">
                        {{ content.field_icon.0 }}
                        <h4>{{ content.field_title.0 }}</h4>
                        {{ content.field_map.0 }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="col-lg-4 col-md-10 col-12">
        <div class="item" data-aos="zoom-in-down">
            <div class="icon">
                {{ content.field_icon.0 }}
            </div>
            <h4>{{ content.field_title.0 }}</h4>
            {{ content.field_map.0 }}
        </div>
    </div>
{% endif %}