<form  {{attributes}}>
{# <form {{attributes.addClass('input-group')}}> #}
    {{element.elements.email}}
    <span class="input-group-btn">
        <button class="" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="23.375" viewBox="0 0 34 23.375">
                <path data-name="Icon ionic-ios-arrow-round-forward" d="M29.558,11.7a1.626,1.626,0,0,0-.012,2.24l7.18,7.414H9.4a1.584,1.584,0,0,0,0,3.165H36.714l-7.18,7.414a1.638,1.638,0,0,0,.012,2.24,1.5,1.5,0,0,0,2.161-.012l9.731-10.1h0a1.783,1.783,0,0,0,.319-.5,1.551,1.551,0,0,0,.118-.609,1.613,1.613,0,0,0-.437-1.108l-9.731-10.1A1.473,1.473,0,0,0,29.558,11.7Z" transform="translate(-7.875 -11.251)" fill="#111"></path>
            </svg>
        </button>
    </span>


{# <button type="submit" class="" title="Title">{{ safe_value_label | raw }}
    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
        <path id="Icon_ionic-ios-arrow-dropright-circle" data-name="Icon ionic-ios-arrow-dropright-circle" d="M3.375,63.375a60,60,0,1,0,60-60A59.991,59.991,0,0,0,3.375,63.375Zm70.529,0L50.279,39.981a5.568,5.568,0,1,1,7.875-7.875L85.673,59.712a5.561,5.561,0,0,1,.173,7.673l-27.115,27.2a5.558,5.558,0,1,1-7.875-7.846Z" transform="translate(-3.375 -3.375)" fill="#1a1725"></path>
    </svg>
</button>
{{ children }} #}

    {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
</form>