{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
<div class="agency-infinite-scroll">
<ul{{ attributes }}>
  <li class="pager__item">
    {# <a class="button" href="{{ items.next.href }}" title="{{ 'Load more items'|t }}" rel="next">{{ options.button_text }}</a> #}
    <div class="btn-center">
            <a href="{{ items.next.href }}" title="{{ 'Load more items'|t }}" rel="next" class="btn button btn-primary btn-style-1 btn-style-lg">{{ options.button_text }}</a>
    </div>
  </li>
</ul>
</div>
{% endif %}
