<div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-up" data-aos-duration="1000">
    <a href="{{ fields.view_node.content }}" title="{{ fields.title.content }}">
        <div class="item">
            <img src="{{ fields.field_image.content }}" alt="Image">
            <div class="item-content">
                <span>{{ fields.uid.content }}<i>/</i>{{ fields.created.content }}</span>
                <h4>{{ fields.title.content }}</h4>
            </div>
        </div>
    </a>
</div>