<div class="blog-lists {{counter}}" data-aos="zoom-in-up" data-aos-duration="1000">
    <div class="blog-list">
        <a href="{{ fields.view_node.content }}" title="{{ fields.view_node_1.content }}">
           <img src="{{ fields.field_image.content }}" alt="Image">
        </a>
        <div class="details">
            <h6><a href="{{ fields.view_node.content }}" title="{{ fields.view_node_1.content }}">{{ fields.title.content }}</a></h6>
            <span>{{ fields.created.content }}</span>
        </div>
    </div>
</div>