 <div class="col-lg-4 col-md-6 col-12">
    <div class="item">
        <div class="icon">
            {{ fields.field_icon.content }}
        </div>
        <a href="{{ fields.view_node.content}}" title="{{ fields.view_node_1.content}}">
            <h4> {{ fields.title.content }}</h4>
        </a>
       <p>{{ fields.body.content|striptags }}</p>
    </div>
</div>