<section class="about-us-1-who-we-are dt-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="image">
                    <img class="img-fluid" src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                        alt="{{ content.field_image['#items'].alt }}" 
                        title="{{ content.field_image['#items'].title }}">
                    <div class="about-style">
                        {% if content.field_count.0 %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="184" height="183.95" viewBox="0 0 184 183.95">
                                <path id="Path_37943" data-name="Path 37943" d="M194.4,135.186a31.648,31.648,0,0,0-5.01-3.1c-11.629-5.762-26.617-5.854-37.825.953a32.248,32.248,0,0,0-9.435,8.726c-7.744,10.778-6.751,25.164-1.752,36.866,2.615,6.122,6.661,10.4,10.38,15.7,4.1,5.836,5.891,13.077,6.12,20.134.374,11.543-4.665,22.461-3.187,33.911a63.5,63.5,0,0,0,5.73,18.934,75.031,75.031,0,0,0,37.326,35.948c17.743,7.955,37.7,9.579,56.892,7.992,86.607-7.16,78.293-115.707,35.568-118.48-12.195-.792-24.152.926-36.138,2.956-8.243,1.4-17.569,3.412-25.646.21-11.468-4.547-17.576-18.844-17.99-30.223C209.013,154.166,203.766,142.253,194.4,135.186Z" transform="translate(-136.47 -127.845)" fill="#ee8d5a"/>
                            </svg>
                            <div class="about-style-content">
                                <span>{{ content.field_count.0 }}</span>
                                {{ content.field_experience.0 }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="content">
                    <h2>{{ content.field_title.0 }}</h2>
                   {{ content.field_description.0 }}
                   {{ content.field_list_items }}
                    {% if content.field_read_more.0 %}
                        <div class="button pt-5">
                            <a href="{{ content.field_read_more.0['#url']}}" class="btn btn-primary btn-style-1 btn-style-lg" title="{{ content.field_read_more.0['#title']}}">{{ content.field_read_more.0['#title']}}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>