<div class="carousel-item" data-bs-interval="2000">
    <div class="item" style="background-image: url('{{ fields.field_background_image.content }}');">
        <span>{{ fields.field_tagline.content }}</span>
        {{ fields.field_title.content }}
        <a href="{{ fields.field_link.content}}" class="btn btn-primary btn-style-1 btn-style-lg" title="{{ fields.field_link_1.content }}" target="_blank">{{ fields.field_link_1.content }}</a>
    </div>
</div>