<div class="item">
    <div class="row align-item-center justify-content-center">
        <div class="col-lg-6 col-md-5 col-12">
            <div class="content">
                <span>{{ fields.field_tagline.content }}</span>
                {{ fields.field_title.content }}
               <p>{{ fields.field_description.content|striptags }}</p>
                <a href="{{ fields.field_link.content}}" class="btn btn-primary btn-style-1 btn-style-lg" title="{{ fields.field_link_1.content }}" target="_blank">{{ fields.field_link_1.content }}</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-5 col-12">
            <div class="image">
                <div class="left-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" width="185" height="160" viewBox="0 0 185 160">
                        <g data-name="Group 148" transform="translate(-978 -989)">
                            <rect data-name="Rectangle 97" width="10" height="10" rx="5" transform="translate(1153 989)" fill="#fff"/>
                            <rect data-name="Rectangle 98" width="10" height="10" rx="5" transform="translate(1128 989)" fill="#fff"/>
                            <rect data-name="Rectangle 99" width="10" height="10" rx="5" transform="translate(1103 989)" fill="#fff"/>
                            <rect data-name="Rectangle 100" width="10" height="10" rx="5" transform="translate(1078 989)" fill="#fff"/>
                            <rect data-name="Rectangle 101" width="10" height="10" rx="5" transform="translate(1053 989)" fill="#fff"/>
                            <rect data-name="Rectangle 102" width="10" height="10" rx="5" transform="translate(1028 989)" fill="#fff"/>
                            <rect data-name="Rectangle 103" width="10" height="10" rx="5" transform="translate(1003 989)" fill="#fff"/>
                            <rect data-name="Rectangle 104" width="10" height="10" rx="5" transform="translate(978 989)" fill="#fff"/>
                            <rect data-name="Rectangle 105" width="10" height="10" rx="5" transform="translate(1153 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 106" width="10" height="10" rx="5" transform="translate(1128 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 107" width="10" height="10" rx="5" transform="translate(1103 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 108" width="10" height="10" rx="5" transform="translate(1078 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 109" width="10" height="10" rx="5" transform="translate(1053 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 110" width="10" height="10" rx="5" transform="translate(1028 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 111" width="10" height="10" rx="5" transform="translate(1003 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 112" width="10" height="10" rx="5" transform="translate(978 1014)" fill="#fff"/>
                            <rect data-name="Rectangle 113" width="10" height="10" rx="5" transform="translate(1128 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 114" width="10" height="10" rx="5" transform="translate(1103 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 115" width="10" height="10" rx="5" transform="translate(1078 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 116" width="10" height="10" rx="5" transform="translate(1053 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 117" width="10" height="10" rx="5" transform="translate(1028 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 118" width="10" height="10" rx="5" transform="translate(1003 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 119" width="10" height="10" rx="5" transform="translate(978 1039)" fill="#fff"/>
                            <rect data-name="Rectangle 121" width="10" height="10" rx="5" transform="translate(1103 1064)" fill="#fff"/>
                            <rect data-name="Rectangle 122" width="10" height="10" rx="5" transform="translate(1078 1064)" fill="#fff"/>
                            <rect data-name="Rectangle 123" width="10" height="10" rx="5" transform="translate(1053 1064)" fill="#fff"/>
                            <rect data-name="Rectangle 124" width="10" height="10" rx="5" transform="translate(1028 1064)" fill="#fff"/>
                            <rect data-name="Rectangle 125" width="10" height="10" rx="5" transform="translate(1003 1064)" fill="#fff"/>
                            <rect data-name="Rectangle 126" width="10" height="10" rx="5" transform="translate(978 1064)" fill="#fff"/>
                            <rect data-name="Rectangle 129" width="10" height="10" rx="5" transform="translate(1078 1089)" fill="#fff"/>
                            <rect data-name="Rectangle 130" width="10" height="10" rx="5" transform="translate(1053 1089)" fill="#fff"/>
                            <rect data-name="Rectangle 131" width="10" height="10" rx="5" transform="translate(1028 1089)" fill="#fff"/>
                            <rect data-name="Rectangle 132" width="10" height="10" rx="5" transform="translate(1003 1089)" fill="#fff"/>
                            <rect data-name="Rectangle 133" width="10" height="10" rx="5" transform="translate(978 1089)" fill="#fff"/>
                            <rect data-name="Rectangle 135" width="10" height="10" rx="5" transform="translate(1053 1114)" fill="#fff"/>
                            <rect data-name="Rectangle 136" width="10" height="10" rx="5" transform="translate(1028 1114)" fill="#fff"/>
                            <rect data-name="Rectangle 137" width="10" height="10" rx="5" transform="translate(1003 1114)" fill="#fff"/>
                            <rect data-name="Rectangle 138" width="10" height="10" rx="5" transform="translate(978 1114)" fill="#fff"/>
                            <rect data-name="Rectangle 141" width="10" height="10" rx="5" transform="translate(1028 1139)" fill="#fff"/>
                            <rect data-name="Rectangle 142" width="10" height="10" rx="5" transform="translate(1003 1139)" fill="#fff"/>
                            <rect data-name="Rectangle 143" width="10" height="10" rx="5" transform="translate(978 1139)" fill="#fff"/>
                        </g>
                    </svg>
                </div>
                <img src="{{ fields.field_image.content }}" alt="{{ fields.field_image_1.content }}" class="img-fluid  wow  animate__zoomInUp" data-wow-duration=".80s" data-wow-delay="0s">

                <div class="right-dot">
                    <svg  data-name="Group 39201" xmlns="http://www.w3.org/2000/svg" width="185" height="160" viewBox="0 0 185 160">
                        <rect data-name="Rectangle 97" width="10" height="10" rx="5" transform="translate(0 150)" fill="#fff"/>
                        <rect data-name="Rectangle 98" width="10" height="10" rx="5" transform="translate(25 150)" fill="#fff"/>
                        <rect data-name="Rectangle 99" width="10" height="10" rx="5" transform="translate(50 150)" fill="#fff"/>
                        <rect data-name="Rectangle 100" width="10" height="10" rx="5" transform="translate(75 150)" fill="#fff"/>
                        <rect data-name="Rectangle 101" width="10" height="10" rx="5" transform="translate(100 150)" fill="#fff"/>
                        <rect data-name="Rectangle 102" width="10" height="10" rx="5" transform="translate(125 150)" fill="#fff"/>
                        <rect data-name="Rectangle 103" width="10" height="10" rx="5" transform="translate(150 150)" fill="#fff"/>
                        <rect data-name="Rectangle 104" width="10" height="10" rx="5" transform="translate(175 150)" fill="#fff"/>
                        <rect data-name="Rectangle 105" width="10" height="10" rx="5" transform="translate(0 125)" fill="#fff"/>
                        <rect data-name="Rectangle 106" width="10" height="10" rx="5" transform="translate(25 125)" fill="#fff"/>
                        <rect data-name="Rectangle 107" width="10" height="10" rx="5" transform="translate(50 125)" fill="#fff"/>
                        <rect data-name="Rectangle 108" width="10" height="10" rx="5" transform="translate(75 125)" fill="#fff"/>
                        <rect data-name="Rectangle 109" width="10" height="10" rx="5" transform="translate(100 125)" fill="#fff"/>
                        <rect data-name="Rectangle 110" width="10" height="10" rx="5" transform="translate(125 125)" fill="#fff"/>
                        <rect data-name="Rectangle 111" width="10" height="10" rx="5" transform="translate(150 125)" fill="#fff"/>
                        <rect data-name="Rectangle 112" width="10" height="10" rx="5" transform="translate(175 125)" fill="#fff"/>
                        <rect data-name="Rectangle 113" width="10" height="10" rx="5" transform="translate(25 100)" fill="#fff"/>
                        <rect data-name="Rectangle 114" width="10" height="10" rx="5" transform="translate(50 100)" fill="#fff"/>
                        <rect data-name="Rectangle 115" width="10" height="10" rx="5" transform="translate(75 100)" fill="#fff"/>
                        <rect data-name="Rectangle 116" width="10" height="10" rx="5" transform="translate(100 100)" fill="#fff"/>
                        <rect data-name="Rectangle 117" width="10" height="10" rx="5" transform="translate(125 100)" fill="#fff"/>
                        <rect data-name="Rectangle 118" width="10" height="10" rx="5" transform="translate(150 100)" fill="#fff"/>
                        <rect data-name="Rectangle 119" width="10" height="10" rx="5" transform="translate(175 100)" fill="#fff"/>
                        <rect data-name="Rectangle 121" width="10" height="10" rx="5" transform="translate(50 75)" fill="#fff"/>
                        <rect data-name="Rectangle 122" width="10" height="10" rx="5" transform="translate(75 75)" fill="#fff"/>
                        <rect data-name="Rectangle 123" width="10" height="10" rx="5" transform="translate(100 75)" fill="#fff"/>
                        <rect data-name="Rectangle 124" width="10" height="10" rx="5" transform="translate(125 75)" fill="#fff"/>
                        <rect data-name="Rectangle 125" width="10" height="10" rx="5" transform="translate(150 75)" fill="#fff"/>
                        <rect data-name="Rectangle 126" width="10" height="10" rx="5" transform="translate(175 75)" fill="#fff"/>
                        <rect data-name="Rectangle 129" width="10" height="10" rx="5" transform="translate(75 50)" fill="#fff"/>
                        <rect data-name="Rectangle 130" width="10" height="10" rx="5" transform="translate(100 50)" fill="#fff"/>
                        <rect data-name="Rectangle 131" width="10" height="10" rx="5" transform="translate(125 50)" fill="#fff"/>
                        <rect data-name="Rectangle 132" width="10" height="10" rx="5" transform="translate(150 50)" fill="#fff"/>
                        <rect data-name="Rectangle 133" width="10" height="10" rx="5" transform="translate(175 50)" fill="#fff"/>
                        <rect data-name="Rectangle 135" width="10" height="10" rx="5" transform="translate(100 25)" fill="#fff"/>
                        <rect data-name="Rectangle 136" width="10" height="10" rx="5" transform="translate(125 25)" fill="#fff"/>
                        <rect data-name="Rectangle 137" width="10" height="10" rx="5" transform="translate(150 25)" fill="#fff"/>
                        <rect data-name="Rectangle 138" width="10" height="10" rx="5" transform="translate(175 25)" fill="#fff"/>
                        <rect data-name="Rectangle 141" width="10" height="10" rx="5" transform="translate(125)" fill="#fff"/>
                        <rect data-name="Rectangle 142" width="10" height="10" rx="5" transform="translate(150)" fill="#fff"/>
                        <rect data-name="Rectangle 143" width="10" height="10" rx="5" transform="translate(175)" fill="#fff"/>
                    </svg>                                      
                </div>
            </div>
        </div>
    </div>
</div>