<div class="row">
    <div class="col-lg-6 col-md-10 col-12">
        <div class="item">
            {{ fields.field_title.content }}
            {{ fields.field_description.content }}
            <a href="{{ fields.field_link.content}}" class="btn btn-primary btn-style-1 btn-style-lg" title="{{ fields.field_link_1.content }}" target="_blank">{{ fields.field_link_1.content }}</a>
        </div>
    </div>
</div>