<div class="col-lg-6 col-md-6 col-12">
    <div class="item">
        <a href="{{ fields.view_node.content }}"><img src="{{ fields.field_image.content }}" alt="Image"></a>
        <div class="item-content">
            <span>{{ fields.uid.content }}<i>/</i>{{ fields.created.content }}</span>
            <a href="{{ fields.view_node.content }}"><h4>{{ fields.title.content }}</h4></a>
        </div>
    </div>
</div>