{% set paragraph_parent = paragraph.getParentEntity() %}
{% set variant = paragraph_parent.field_pricing_variant.value %}
    {% if variant in 'pricing2' %}
        <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-down">
            <div class="item recommended">
                <div class="pricing-head">
                    <h5>{{ content.field_title.0 }}</h5>
                    <h6>{{ content.field_tagline.0 }}</h6>
                    <hr>
                    <span><span>{{ content.field_currency.0 }}</span>{{ content.field_price.0 }}</span>
                </div>
                <span class="period">{{ content.field_vality_period.0 }}</span>
                <div class="pricing-content">
                {{ content.field_list_items.0 }}
                    <hr>
                    <a href="{{ content.field_buy_now.0['#url'] }}" class="btn btn-primary btn-style-1 btn-style-lg" title="{{ content.field_buy_now.0['#title'] }}">{{ content.field_buy_now.0['#title'] }}</a>
                </div>
                {% if content.field_recommanded.0['#markup'] in '1' %}
                    <div class="recommended-wrapper">
                        <span>Recommended</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% elseif variant in 'pricing3' %}
        <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-down">
            {% if content.field_recommanded.0['#markup'] in '1' %}
            <div class="item recommended">
            {% else %}
            <div class="item">
            {% endif %}
                <div class="pricing-head">
                    <div class="icon">
                       {{ content.field_icon.0 }}
                    </div>
                    <h5>{{ content.field_title.0 }}</h5>
                    <span><span>{{ content.field_currency.0 }}{{ content.field_price.0 }}</span>{{' / '}}{{ content.field_vality_period.0 }}</span>
                </div>
                <div class="pricing-content">
                    {{ content.field_list_items.0 }}
                    <a href="{{ content.field_buy_now.0['#url'] }}" class="btn btn-primary btn-style-1 btn-style-md" title="{{ content.field_buy_now.0['#title'] }}">{{ content.field_buy_now.0['#title'] }}</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-down">
            {% if content.field_recommanded.0['#markup'] in '1' %}
            <div class="item recommended">
            {% else %}
            <div class="item">
            {% endif %}
                <h4>{{ content.field_title.0 }}</h4>
                <span><span>{{ content.field_currency.0 }}{{ content.field_price.0 }}</span>{{ content.field_vality_period.0 }}</span>
                <hr>
                {{ content.field_list_items.0 }}
                <hr>
                <a href="{{ content.field_buy_now.0['#url'] }}" class="btn btn-primary btn-style-3 btn-style-md" title="{{ content.field_buy_now.0['#title'] }}">{{ content.field_buy_now.0['#title'] }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="23.375" viewBox="0 0 34 23.375">
                        <path data-name="Icon ionic-ios-arrow-round-forward" d="M29.558,11.7a1.626,1.626,0,0,0-.012,2.24l7.18,7.414H9.4a1.584,1.584,0,0,0,0,3.165H36.714l-7.18,7.414a1.638,1.638,0,0,0,.012,2.24,1.5,1.5,0,0,0,2.161-.012l9.731-10.1h0a1.783,1.783,0,0,0,.319-.5,1.551,1.551,0,0,0,.118-.609,1.613,1.613,0,0,0-.437-1.108l-9.731-10.1A1.473,1.473,0,0,0,29.558,11.7Z" transform="translate(-7.875 -11.251)" fill="#111"></path>
                    </svg>
                </a>
                {% if content.field_recommanded.0['#markup'] in '1' %}
                    <div class="recommended-label">
                        <span>Recommended</span>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}