<section class="page-banner" style="background-image: url('{{ fields.field_page_banner.content }}');">
    <div class="container dt-section">
        <div class="heading">
            <h1>{{ fields.title.content }}</h1>
            <span>{{ fields.uid.content }} / {{ fields.created.content }} / {{ fields.comment_count.content }}</span>
        </div>
    </div>
</section>