{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{{ attach_library('agency_pro/breadcrumb') }}

{# {% if breadcrumb %}
  <nav role="navigation" aria-label="breadcrumb">
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li class="breadcrumb-item">
          <a href="{{ item.url }}">{{ item.text }}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item active">
          {{ item.text }}
        </li>
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
{% endif %} #}
{% if breadcrumb %}
  <nav class="breadcrumb-section" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for item in breadcrumb %}
        {% if item.url %}
          <li class="breadcrumb-item">
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
        {% else %}
          <li class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="39.932" height="37.846" viewBox="0 0 39.932 37.846">
              <g class="Group_38512" data-name="Group 38512" transform="translate(39.932) rotate(90)">
                <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back" d="M16.156,18.918.849,4.609A2.572,2.572,0,0,1,.849.79a3.048,3.048,0,0,1,4.095,0L22.286,17a2.575,2.575,0,0,1,.084,3.729L4.956,37.057a3,3,0,0,1-2.047.789,3,3,0,0,1-2.047-.789,2.572,2.572,0,0,1,0-3.819Z" transform="translate(0 39.932) rotate(-90)" fill="var(--primary-color)"></path>
                <path id="Icon_ionic-ios-arrow-back-2" data-name="Icon ionic-ios-arrow-back" d="M16.156,18.918.849,4.609A2.572,2.572,0,0,1,.849.79a3.048,3.048,0,0,1,4.095,0L22.286,17a2.575,2.575,0,0,1,.084,3.729L4.956,37.057a3,3,0,0,1-2.047.789,3,3,0,0,1-2.047-.789,2.572,2.572,0,0,1,0-3.819Z" transform="translate(0 23.128) rotate(-90)" fill="var(--primary-color)"></path>
              </g>
            </svg>
          </li>
          <li class="breadcrumb-item active">
            {{ item.text }}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}