<div class="col-lg-4 col-sm-6 col-12 item">
    <div class="item-content" data-aos="zoom-in-down" data-aos-duration="1000">
        <img src="{{ fields.field_image.content }}" alt="Portfolio Image">
        <div class="overlay">
            <div class="overlay-item">
                 <a href="{{ fields.view_node.content }}"><h5>{{ fields.field_tabs.content }}</h5></a>
                <span>{{ fields.field_tagline.content }}</span>
            </div>
            <a class="magnify-popup" href="{{ fields.field_image.content }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="27.42" height="27.42" viewBox="0 0 27.42 27.42">
                    <path data-name="Path 38040" d="M29.42,13.425H18V2h-4.57V13.425H2V18H13.425V29.42H18V18H29.42Z" transform="translate(-2 -2)" fill="#fff"></path>
                </svg>
            </a>
        </div>
    </div>
</div>